$xw-page-horizontal-padding: 32rpx; // 页面两边内边距
$xw-page-vertical-padding: 36rpx; // 页面两边内边距
$xw-login-horizontal-padding: 60rpx; // 页面两边内边距
$xw-navbar-height: 78rpx; // 导航栏高度默认88rpx
$xw-img-radius: 8px;
$xw-font-main-color: #272832;
$xw-font-secondary-color: rgba(39, 40, 50, 0.6);
$xw-font-thirdary-color: rgba(39, 40, 50, 0.4);
$xw-input-border-color: rgba(39, 40, 50, 0.08);
$xw-tips-red-color: #ff5d5b;
$xw-btn-disibled-color: rgba(39, 40, 50, 0.2);
$xw-no-data-color: #ccc;
$xw-yellow-btn-color: #ffe431;
$xw-blue-color: #54afff;
